{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92758078, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92758078" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/images/favicon/safari-pinned-tab.svg' %}" color="#36cbad">
    <link rel="shortcut icon" href="{% static 'main/images/favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="ЭМР">
    <meta name="application-name" content="ЭМР">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{% static 'main/images/favicon' %}/browserconfig.xml">
    <meta name="theme-color" content="#a1fde9">
    <link rel="stylesheet" href="{% static 'main/css/header-desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/header-mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/carousel-desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/carousel-mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/footer-desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/footer-mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/reviews-desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/reviews-mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/doctors-desktop.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/doctors-mobile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/other.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/488146a138.js" crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={% block yandex-map-apikey %}{% endblock %}" type="text/javascript"></script>
    <script src="{% static 'main/js/yandex-map.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/scroll-top-button.js' %}" type="text/javascript"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="header">
    <nav>
        <input type="checkbox" id="menu-checkbox">
        <label for="menu-checkbox">
            <ul class="menu touch">
                <li class="navbar-logo-li"><a href="{% url 'index' %}" class="navbar-logo-link">
                    <img src="{% static 'main/images/logo.png' %}" class="navbar-logo" alt="Наш логотип">
                </a></li>
                <li><a href="{% url 'about' %}" class="navbar-text-link">О нас</a></li>
                <li><a href="{% url 'services' %}" class="navbar-text-link">Услуги</a></li>
                <li><a href="{% url 'doctors' %}" class="navbar-text-link">Врачи</a></li>
                <li><a href="{% url 'promotions' %}" class="navbar-text-link">Акции</a></li>
                <li><a href="{% url 'contacts' %}" class="navbar-text-link contacts">Контакты</a></li>
                <li><a href="{% url 'reviews' %}" class="navbar-text-link">Отзывы</a></li>
                <li><a href="{% url 'papers' %}" class="navbar-text-link">Документы</a></li>
            </ul>
            <span class="toggle">☰</span>
        </label>
    </nav>
</header>
<main>
    <div class="carousel-outer-box-mobile">
        <div class="carousel-outer-text-mobile"><p class="carousel-outer-important">+7 (913) 948-42-37</p> Есть вопрос? Ответим!</div>
        <div class="carousel-outer-text-mobile text-align-right">Наш адрес: <p class="carousel-outer-important">г. Бердск, ул. Ленина, 23 В, офис 2</p></div>
    </div>
    <section aria-label="Main Carousel" class="carousel-section">
        <div class="carousel-outer-text-desktop"><p class="carousel-outer-important">+7 (913) 948-42-37</p> Есть вопрос? Ответим!</div>
        <div class="carousel" data-carousel data-auto-slide="true">
            <button class="carousel-button prev" data-carousel-button="prev"><i class="fa-solid fa-chevron-left fa-5x"></i></button>
            <button class="carousel-button next" data-carousel-button="next"><i class="fa-solid fa-chevron-right fa-5x"></i></button>
            <ul data-slides>
                <li class="slide" data-active><img src="{% static 'main/images/carousel/1.jpg' %}" alt="Одна из наших услуг"></li>
                <li class="slide"><img src="{% static 'main/images/carousel/2.jpg' %}" alt="Одна из наших услуг"></li>
                <li class="slide"><img src="{% static 'main/images/carousel/3.jpg' %}" alt="Одна из наших услуг"></li>
                <li class="slide"><img src="{% static 'main/images/carousel/4.jpg' %}" alt="Одна из наших услуг"></li>
                <li class="slide"><img src="{% static 'main/images/carousel/5.jpg' %}" alt="Одна из наших услуг"></li>
                <li class="slide"><img src="{% static 'main/images/carousel/6.jpg' %}" alt="Одна из наших услуг"></li>
            </ul>
        </div>
        <div class="carousel-outer-text-desktop text-align-right">Наш адрес: <p class="carousel-outer-important">г. Бердск, ул. Ленина, 23 В, офис 2</p></div>
    </section>
</main>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<footer class="footer">
    <div class="map">
        <div id="map"></div>
    </div>
    <div class="footer-logo-container">
        <a href="/"><img class="footer-logo" src="{% static 'main/images/footer/logo_extended.png' %}" alt="Эффективные медицинские решения"></a>
    </div>
    <p class="footer-text">Вся указанная информация не является публичной офертой</p>
</footer>
<button onclick="scrollTopFunction()" id="scroll-top-button" title="Наверх">Наверх</button>
<script src="{% static 'main/js/main-carousel.js' %}" type="text/javascript"></script>
</body>
</html>