{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">{{ doctor.name }}</h1>
    <img src="{{ doctor.picture.url }}" alt="Фотография врача" class="doctor-picture-single">
    <span>Специализация: {{ doctor.speciality }}</span><br>
    <span>Стаж работы: {{ doctor.experience }}</span><br>
    <span>Образование: {{ doctor.education }}</span><br>
    <span>Повышение квалификации: {{ doctor.additional_qualification }}</span><br>
        <p>Услуги доктора:</p>
        {% if services %}
            <table class="services-table-one-doctor">
        <tr>
            <th class="services-th">Название</th>
            <th class="services-th">Цена, руб</th>
        </tr>
            {% for service in services %}
                <tr>
                <td class="services-td-one-doctor"><p><a class="services-table-link" href="{{ service.get_absolute_url }}">{{ service.name }}</a></p></td>
                <td class="services-td-one-doctor"><p>{{ service.price }}</p></td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Доктор пока не оказывает услуг</p>
        {% endif %}
        <span>Отзывы:</span>
        <div class="review-box">
            {% if reviews %}
                <ul class="review-list">
                {% for review in reviews %}
                    <li class="review-list-item">
                        <p class="review-paragraph">Автор отзыва: {{ review.author }}</p>
                        <p class="review-paragraph">Врач: <a href="{{ review.doctor_mentioned.get_absolute_url }}">{{ review.doctor_mentioned }}</a></p>
                        <p class="review-paragraph-main">{{ review.text }}</p>
                        <p class="review-paragraph">Источник: <a href="{{ review.source }}">{{ review.source }}</a></p>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Отзывов пока нет</p>
            {% endif %}
        </div>
{% endblock %}