{% extends 'main/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">Наши врачи</h1>
    <div class="doctors-container">
        {% if doctors %}
            {% for doctor in doctors %}
                <div class="doctor-box"><a href="{{ doctor.get_absolute_url }}" class="doctor-link">
                    <img src="{{ doctor.picture.url }}" alt="Фотография врача" class="doctor-picture">
                    <p>{{ doctor.name }}</p>
                    <p>{{ doctor.speciality }}</p>
                    <p>Стаж: {{ doctor.experience }}</p>
                </a></div>
            {% endfor %}
        {% else %}
            <p>Врачей временно нет</p>
        {% endif %}
    </div>
{% endblock %}