{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}

{% block content %}
<div class="header-logo-container main-header">
        <a href="/"><img class="header-logo" src="{% static 'main/images/logo_extended_header.png' %}" alt="Эффективные медицинские решения"></a>
</div>
    <p>Добро пожаловать в многопрофильную клинику "ЭМР"
Клиника «ЭМР» – это современный многопрофильный центр для всей семьи!
⠀
У нас представлен широкий спектр услуг: УЗИ, ЭКГ, онколог, маммолог, стоматолог, ревматолог, кардиолог, терапевт, невропатолог, эндокринолог, процедурный кабинет, анализы.
⠀
Секрет успеха заключается в главных принципах, на которых основана работа клиники:
⠀
— Индивидуальный и комплексный подход.
— Высококвалифицированные специалисты.
— Современное оборудование и оснащение.
— Доступные цены.</p>
{% endblock %}