{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}

{% block content %}
<div class="header-logo-container main-header">
        <a href="/"><img class="header-logo" src="{% static 'main/images/logo_extended_header.png' %}" alt="Эффективные медицинские решения"></a>
</div>
    <div class="index-info-block">
        <p class="less-important-text-unclickable index-text"><a href="{% static 'main/images/index-img-1.png' %}" data-fancybox="gallery" data-caption="Фотография из клиники"><img class="index-image" src="{% static 'main/images/index-img-1.png' %}" alt="Фотография из клиники" width="300px" style="float: left"></a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ipsam?<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea eos est, ex fugit magnam officia quasi quia
            saepe voluptates?<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam delectus dolores non omnis
            repellat.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis harum hic id maxime omnis
            repellat rerum sequi!<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum officiis similique.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dicta earum laboriosam natus. Earum
            placeat, repellendus? Aperiam rem similique sint? Atque?<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, veritatis, vitae?<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ipsam molestias mollitia placeat
            temporibus!<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eaque error ex pariatur quidem sint
            voluptate.<br>
        </p>
⠀       <p class="less-important-text-unclickable index-text"><a href="{% static 'main/images/index-img-2.png' %}" data-fancybox="gallery" data-caption="Фотография из клиники"><img class="index-image" src="{% static 'main/images/index-img-2.png' %}" alt="Фотография из клиники" width="600px" style="float: right"></a>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, magni.<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse et ex id illum, impedit inventore iure laudantium
        molestiae omnis quam.<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate incidunt rem sunt temporibus, veniam?<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius eos fugit harum inventore quae
        repudiandae soluta tempore?<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magnam maxime quis.<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis ipsa labore magnam odit omnis quae
        repudiandae sequi voluptate! Laborum, veniam.<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias esse, minus!<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut illo minima quaerat velit. Aperiam!<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cum eum explicabo id nisi provident
        recusandae.<br>
        </p>
    </div>
{% endblock %}