{% extends 'main/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">Новости</h1>
    <div class="news-container">
        {% for post in news %}
            <div class="news-post-box">
                <img class="clickable-image news-image" data-fancybox data-caption="{{ post.title }}" src="{{ post.picture.url }}" alt="{{ post.title }}">
                <div class="news-post-content">
                    <div class="news-post-text">
                        <h2 class="important-text" style="margin-bottom: 10px;">{{ post.title }}</h2>
                        <p class="news-post-paragraph less-important-text-unclickable">{% autoescape off %}{{ post.text | truncatewords:50 }}{% endautoescape %}</p>
                    </div>
                    <div class="news-post-info">
                        <p class="less-important-text-unclickable" style="font-size: 18px">Добавлено {{ post.addition_time }}</p>
                        <a class="news-post-button" href="{{ post.get_absolute_url }}">Перейти к новости</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination-container">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-button">Предыдущая страница</a>
            {% endif %}

            <p class="less-important-text-unclickable" style="font-size: 20px">
                Вы на {{ page_obj.number }} странице из {{ page_obj.paginator.num_pages }}
            </p>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }} " class="pagination-button">Следующая страница</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block call_request_form %}
    <form method="post">
    {% csrf_token %}
    {{ form.phone_number }} <br>
    {{ form.wishes }} <br>
    <button type="submit" class="form-submit-button">Отправить</button>
    <span>{{ error }}</span>
    </form>
{% endblock %}