{% extends 'main/base.html' %}
{% load main_tags %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">Отзывы пациентов</h1>
    <div class="review-box">
        {% if reviews %}
            <div>
            <ul class="review-list">
            {% for review in reviews %}
                <li class="review-list-item">
                    <p class="review-paragraph">Автор отзыва: {{ review.author }}</p>
                    <p class="review-paragraph">Врач:
                        {% for doctor_id in review.doctors_mentioned.all %}
                            <a class="reviews-doctor-link" href="{{ doctor_id|get_doctor_absolute_url_by_name }}">{{ doctor_id }}</a>
                        {% endfor %}
                    </p>
                    <p class="review-paragraph-main">{{ review.text }}</p>
                    <p class="review-paragraph">Источник: <a href="{{ review.source }}">{{ review.source }}</a></p>
                    <p class="review-paragraph">Дата добавления: {{ review.creation_time }}</p>
                </li>
            {% endfor %}
            </ul></div>
        {% else %}
            <p>Отзывов пока нет</p>
        {% endif %}
    </div>
{% endblock %}