{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1>Отзывы пациентов</h1>
    <div class="review-box">
        {% if reviews %}
            <div>
            <ul class="review-list">
            {% for review in reviews %}
                <li class="review-list-item">
                    <p class="review-paragraph">Автор отзыва: {{ review.author }}</p>
                    <p class="review-paragraph">Врач: <a href="{{ review.doctor_mentioned.get_absolute_url }}">{{ review.doctor_mentioned }}</a></p>
                    <p class="review-paragraph-main">{{ review.text }}</p>
                    <p class="review-paragraph">Источник: <a href="{{ review.source }}">{{ review.source }}</a></p>
                </li>
            {% endfor %}
            </ul></div>
        {% else %}
            <p>Отзывов пока нет</p>
        {% endif %}
    </div>
{% endblock %}