{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">Услуги и цены</h1>
    <div class="categories-container">
        <p class="services-category-paragraph"><a class="services-category-link" href="{% url 'dental' %}">Стоматология</a></p>
        <p class="services-category-paragraph"><a class="services-category-link" href="{% url 'usr' %}">УЗИ</a></p>
        <p class="services-category-paragraph"><a class="services-category-link" href="{% url 'analyzes' %}">Анализы</a></p>
    </div>
{% endblock %}

{% block call_request_form %}
    <form method="post">
    {% csrf_token %}
    {{ form.phone_number }} <br>
    {{ form.wishes }} <br>
    <button type="submit" class="form-submit-button">Отправить</button>
    <span>{{ error }}</span>
    </form>
{% endblock %}