{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1>{{ service.name }}</h1>
    <p>{{ service.name }} в нашей клинике стоит {{ service.price }} рублей</p>
    <p>Врачи, проводящие процедуру:</p>
    <ul>
        {% if service.doctor_set %}
            {% for doctor in service.doctor_set.all %}
                <li>
                    <p><a href="{{ doctor.get_absolute_url }}">{{ doctor.name }}</a></p>
                </li>
            {% endfor %}
        {% else %}
            <li>
                <p>Эту процедуру временно никто не проводит</p>
            </li>
        {% endif %}
    </ul>
{% endblock %}