{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}


{% block content %}
    <h1 class="main-header">Услуги и цены</h1>
    {% if services %}
        <table class="services-table">
        <tr>
            <th class="services-th">Название</th>
            <th class="services-th">Цена, руб</th>
            <th class="services-th"><a class="services-table-link" href="{% url 'doctors' %}">Проводящие доктора</a></th>
        </tr>
            {% for service in services %}
                <tr>
                <td class="services-td"><p><a class="services-table-link" href="{{ service.get_absolute_url }}">{{ service.name }}</a></p></td>
                <td class="services-td"><p>{{ service.price }}</p></td>
                <td class="services-td"><ul style="list-style: none">
                {% for doctor in service.doctor_set.all %}
                    <li><p><a class="services-table-link" href="{{ doctor.get_absolute_url }}">{{ doctor.name }}</a></p></li>
                {% endfor %}</ul></td></tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Услуги временно не оказываются</p>
    {% endif %}
{% endblock %}