{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block yandex-map-apikey %}{{ yandex_map_apikey }}{% endblock %}

{% block keywords %}узи, узи суставов, бердск, недорого, плазмотерапия, внутрисуставные инъекции под контролем узи, пункционная биопсия{% endblock %}

{% block content %}
    <h1 class="main-header">УЗИ</h1>
    {% if services %}
        <table class="services-table">
        <tr>
            <th class="services-th">Название</th>
            <th class="services-th">Цена, руб</th>
        </tr>
            {% for service in services %}
                <tr>
                <td class="services-td"><p>{{ service.name }}</p></td>
                <td class="services-td"><p>{{ service.price }}</p></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Услуги временно не оказываются</p>
    {% endif %}
{% endblock %}

{% block call_request_form %}
    <form method="post">
    {% csrf_token %}
    {{ form.phone_number }} <br>
    {{ form.wishes }} <br>
    <button type="submit" class="form-submit-button">Отправить</button>
    <span>{{ error }}</span>
    </form>
{% endblock %}