.review-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    left: 15%;
    right: 85%;
}

.review-list {
    list-style: none;
    text-align: left;
    transition: all 0.7s linear;
}

.review-list-item {
    border-radius: 10px 40px 40px 10px;
    background-color: #9bc7ef;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.7s linear;
}

.review-paragraph {
    margin-top: 4px;
    line-height: 2;
}

.review-list-item:hover {
    background-color: #7fbbf5;
    transition: all 0.3s linear;
}