.doctor-picture {
    width: 360px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.doctor-picture-single {
    width: 500px;
    height: auto;
}

.doctors-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.doctor-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    background-color: #dbf4fd;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.7s linear;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.doctor-link {
    text-decoration: none;
}

/*.doctor-box:hover {
    background-color: #9bc7ef;
    transition: all 0.3s linear;
}*/

.doctor-box-single {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #dbf4fd;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.7s linear;
    margin-bottom: 20px;
}

.doctor-text-about {
    font-size: 24px;
    text-align: left;
    margin-left: 30px;
}

.doctor-info-paragraph {
    margin-left: 10px;
}