.index-info-block {
    position: relative;
    left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #dbf4fd;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.7s linear;
    margin-bottom: 20px;
}

.index-text {
    font-size: 19px;
    line-height: 1.5;
}

.index-image {
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
}