* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
.header{
    background-color: #eafcf0;
}

nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.navbar-logo {
    width: 45px;
    height: 45px;
}
#menu-checkbox,
.toggle {
    display: none;
}

.menu {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition: all .9s linear;
}

.menu li a.navbar-text-link:hover {
    background: rgb(5, 238, 181);
    border-radius: 35%;
    transition: 0.3s;
}
.menu li.navbar-logo-li:hover {
    background: rgb(5, 238, 181);
    border-radius: 35%;
    transition: 0.3s;
}
.menu li.navbar-logo-li {
    transition: all .9s linear;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 120px;
}

.menu li a.contacts {
    margin-right: 30px;
}
.carousel-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel {
    position: relative;
    height: 600px;
    width: 900px;
}
.carousel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 400ms opacity ease-in-out;
    transition-delay: 400ms;
}
.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}
.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 2000px;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    color: aquamarine;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    background: rgba(151, 245, 212, 0.3);
    transition: all 0.3s linear;
}
.carousel-button:hover,
.carousel-button:focus {
    color: rgb(5, 238, 181);
    background: rgba(151, 245, 212, 0.5);
}
.carousel-button:focus-visible {
    outline: 1px solid black;
}
.carousel-button.prev {
    left: -70px;
}
.carousel-button.next {
    right: -70px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#map {
    display: block;
    align-self: center;
    width: 1200px;
    height: 600px;
    padding: 3px;
    margin: 2% auto 10% auto;
    background-color: rgb(5, 238, 181);
}

.content {
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.map {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #eafcf0;
    max-height: max-content;
}

@media screen and (max-width: 765px) {
    .toggle {
        position: absolute;
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: black;
        border-radius: 0 0 70% 70%;
        background: aquamarine;
        transition: all .1s linear;
        z-index: 2;
    }

    .toggle:hover {
        background: #09f3bc;
    }

    #menu-checkbox:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }

    #menu-checkbox:checked + label .touch {
        height: 350px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }

    .menu li a.contacts {
        margin-right: 0;
    }
    .carousel-button.prev {
        left: 20px;
}
    .carousel-button.next {
        right: 20px;
    }
}