.services-table {
    background-color: black;
    right: 10%;
    width: 80%;
    position: relative;
    left: 10%;
    font-size: 18px;
}

.services-table-one-doctor {
    background-color: black;
    width: 50%;
    position: relative;
    left: 25%;
    font-size: 18px;
}

.services-table-link {
    text-decoration: none;
    color: black;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.services-table-link:hover {
    background-color: #7fbbf5;
    color: white;
    transition: all 0.3s linear;
}

.services-th {
    background-color: aquamarine;
    padding: 15px;
    transition: all 0.3s linear;
    border-radius: 0 !important;
}

.services-td {
    background-color: #eafcf0;
    padding: 10px;
}

.services-td-one-doctor {
    background-color: #eafcf0;
    padding: 20px;
}

.services-td li {
    margin: 15px;
}